# Created by .ignore support plugin (hsz.mobi)
.idea/
.DS_Store
.gitignore

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
FsDet.egg-info
build/
install/
.ipynb_checkpoints/

fsdet/model_zoo/configs
logger-files/

exp/
checkpoints/

# datasets
datasets/coco
datasets/VOC2007
datasets/VOC2012
datasets/vocsplit
datasets/lvis
datasets/lvissplit
datasets/*/seed*

# configs
configs/Test
configs/*/seed*/*
configs/*/*/seed*/*

